<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="AlricgEditor"
            name="Editor">
      </category>
      <view
            category="AlricgEditor"
            class="org.d3s.alricg.editor.views.charElemente.TalentView"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.views.TalentView"
            name="Talente">
      </view>
      <view
            category="AlricgEditor"
            class="org.d3s.alricg.editor.views.FileView"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.views.FileView"
            name="Dateien">
      </view>
      <view
            category="AlricgEditor"
            class="org.d3s.alricg.editor.views.charElemente.EigenschaftView"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.views.EigenschaftView"
            name="Eigenschaften">
      </view>
      <view
            category="AlricgEditor"
            class="org.d3s.alricg.editor.views.charElemente.SonderfertigkeitView"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.views.SonderfertigkeitView"
            name="Sonderfertigkeiten">
      </view>
      <view
            category="AlricgEditor"
            class="org.d3s.alricg.editor.views.charElemente.VorteilView"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.views.VorteilView"
            name="Vorteile">
      </view>
      <view
            category="AlricgEditor"
            class="org.d3s.alricg.editor.views.charElemente.NachteilView"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.views.NachteilView"
            name="Nachteile">
      </view>
      <view
            category="AlricgEditor"
            class="org.d3s.alricg.editor.views.charElemente.ZauberView"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.views.ZauberView"
            name="Zauber">
      </view>
      <view
            category="AlricgEditor"
            class="org.d3s.alricg.editor.views.charElemente.LiturgieView"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.views.LiturgieView"
            name="Litugien">
      </view>
      <view
            category="AlricgEditor"
            class="org.d3s.alricg.editor.views.charElemente.SpracheView"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.views.SpracheSchriftView"
            name="Sprachen">
      </view>
      <view
            category="AlricgEditor"
            class="org.d3s.alricg.editor.views.charElemente.KulturView"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.views.KulturView"
            name="Kulturen">
      </view>
      <view
            category="AlricgEditor"
            class="org.d3s.alricg.editor.views.charElemente.RasseView"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.views.RasseView"
            name="Rassen">
      </view>
      <view
            category="AlricgEditor"
            class="org.d3s.alricg.editor.views.charElemente.ProfessionView"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.views.ProfessionView"
            name="Professionen">
      </view>
      <view
            category="AlricgEditor"
            class="org.d3s.alricg.editor.views.charElemente.RepraesentationView"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.views.RepraesentationView"
            name="Repräsentationen">
      </view>
      <view
            category="AlricgEditor"
            class="org.d3s.alricg.editor.views.charElemente.GegenstandView"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.views.GegenstandView"
            name="Gegenstände">
      </view>
      <view
            category="AlricgEditor"
            class="org.d3s.alricg.editor.views.charElemente.RegionVolkView"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.views.RegionVolkView"
            name="Region / Volk">
      </view>
      <view
            category="AlricgEditor"
            class="org.d3s.alricg.editor.views.charElemente.MerkmalView"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.views.MerkmalView"
            name="Merkmale">
      </view>
      <view
            category="AlricgEditor"
            class="org.d3s.alricg.editor.views.charElemente.GoetterView"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.views.GoetterView"
            name="Gottheiten">
      </view>
      <view
            category="AlricgEditor"
            class="org.d3s.alricg.editor.views.charElemente.SchamanenRitualView"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.views.SchamanenRitualView"
            name="Schamanen Rituale">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.d3s.alricg.editor.editors.TalentEditor"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.editors.TalentEditor"
            name="TalentEditor">
      </editor>
      <editor
            class="org.d3s.alricg.editor.editors.SpracheEditor"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.editors.SpracheEditor"
            name="SpracheEditor">
      </editor>
      <editor
            class="org.d3s.alricg.editor.editors.SchriftEditor"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.editors.SchriftEditor"
            name="SchriftEditor">
      </editor>
      <editor
            class="org.d3s.alricg.editor.editors.SonderfertigkeitEditor"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.editors.SonderfertigkeitEditor"
            name="SonderfertigkeitEditor">
      </editor>
      <editor
            class="org.d3s.alricg.editor.editors.VorteilEditor"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.editors.VorteilEditor"
            name="VorteilEditor">
      </editor>
      <editor
            class="org.d3s.alricg.editor.editors.NachteilEditor"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.editors.NachteilEditor"
            name="NachteilEditor">
      </editor>
      <editor
            class="org.d3s.alricg.editor.editors.ZauberEditor"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.editors.ZauberEditor"
            name="ZauberEditor">
      </editor>
      <editor
            class="org.d3s.alricg.editor.editors.LiturgieEditor"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.editors.LiturgieEditor"
            name="LiturgieEditor">
      </editor>
      <editor
            class="org.d3s.alricg.editor.editors.RepraesentationEditor"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.editors.RepraesentationEditor"
            name="RepräsentationEditor">
      </editor>
      <editor
            class="org.d3s.alricg.editor.editors.GottheitEditor"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.editors.GottheitEditor"
            name="GottheitEditor">
      </editor>
      <editor
            class="org.d3s.alricg.editor.editors.SchamanenRitualEditor"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.editors.SchamanenRitualEditor"
            name="SchamanenRitualEditor">
      </editor>
      <editor
            class="org.d3s.alricg.editor.editors.GegenstandEditor"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.editors.GegenstandEditor"
            name="GegenstandEditor">
      </editor>
      <editor
            class="org.d3s.alricg.editor.editors.RegionVolkEditor"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.editors.RegionVolkEditor"
            name="RegionVolkEditor">
      </editor>
      <editor
            class="org.d3s.alricg.editor.editors.RasseEditor"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.editors.RasseEditor"
            name="RasseEditor">
      </editor>
      <editor
            class="org.d3s.alricg.editor.editors.KulturEditor"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.editors.KulturEditor"
            name="KulturEditor">
      </editor>
      <editor
            class="org.d3s.alricg.editor.editors.ProfessionEditor"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.editors.ProfessionEditor"
            name="ProfessionEditor">
      </editor>
      <editor
            class="org.d3s.alricg.editor.editors.RasseVarianteEditor"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.editors.RasseVarianteEditor"
            name="RasseVarianteEditor">
      </editor>
      <editor
            class="org.d3s.alricg.editor.editors.KulturVarianteEditor"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.editors.KulturVarianteEditor"
            name="KulturVarianteEditor">
      </editor>
      <editor
            class="org.d3s.alricg.editor.editors.ProfessionVarianteEditor"
            icon="icons/sample.gif"
            id="org.d3s.alricg.editor.editors.ProfessionVarianteEditor"
            name="ProfessionVarianteEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.d3s.alricg.editor.rcp.StandradPerspective"
            icon="/"
            id="org.d3s.alricg.editor.rcp.StandradPerspective"
            name="Standrad Ansicht">
      </perspective>
      <perspective
            class="org.d3s.alricg.editor.rcp.MagiePerspective"
            id="org.d3s.alricg.editor.rcp.MagiePerspective"
            name="Magie Ansicht">
      </perspective>
      <perspective
            class="org.d3s.alricg.editor.rcp.HerkunftPerspective"
            id="org.d3s.alricg.editor.rcp.HerkunftPerspective"
            name="Herkunft Ansicht">
      </perspective>
      <perspective
            class="org.d3s.alricg.editor.rcp.KomplettPerspective"
            id="org.d3s.alricg.editor.rcp.KomplettPerspective"
            name="Komplett Ansicht">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.d3s.alricg.editor.rcp.StandradPerspective">
         <actionSet
               id="alricgEditor.action.actionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.d3s.alricg.editor.rcp.MagiePerspective">
         <actionSet
               id="alricgEditor.action.actionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.d3s.alricg.editor.rcp.HerkunftPerspective">
         <actionSet
               id="alricgEditor.action.actionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.d3s.alricg.editor.rcp.KomplettPerspective">
         <actionSet
               id="alricgEditor.action.actionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="alricgEditor.action.actionSet"
            label="Editor Action">
         <menu
               id="alricgEditor.Fenster"
               label="Fenster">
            <groupMarker
                  name="alricgEditor.FensterGM1">
            </groupMarker>
            <separator
                  name="alricgEditor.separator2">
            </separator>
            <groupMarker
                  name="additions">
            </groupMarker>
         </menu>
         <menu
               id="alricgEditor.Fenster.Herkunft"
               label="Herkunft"
               path="alricgEditor.Fenster/additions">
            <groupMarker
                  name="alricgEditor.Fenster.HerkunftGM">
            </groupMarker>
         </menu>
         <menu
               id="alricgEditor.Fenster.Magie"
               label="Magisch/Geweiht"
               path="alricgEditor.Fenster/additions">
            <groupMarker
                  name="alricgEditor.Fenster.MagieGM">
            </groupMarker>
         </menu>
         <menu
               id="alricgEditor.Fenster.Allgemein"
               label="Allgemein"
               path="alricgEditor.Fenster/additions">
            <groupMarker
                  name="alricgEditor.Fenster.AllgemeinGM">
            </groupMarker>
         </menu>
         <action
               class="org.d3s.alricg.editor.rcp.menuActions.ChangePerspective"
               id="alricgEditor.KomplettAnsicht"
               label="Komplett Ansicht"
               menubarPath="global.ansichten/">
         </action>
         <action
               class="org.d3s.alricg.editor.rcp.menuActions.ChangePerspective"
               id="alricgEditor.HerkunftAnsicht"
               label="Herkunft Ansicht"
               menubarPath="global.ansichten/">
         </action>
         <action
               class="org.d3s.alricg.editor.rcp.menuActions.ChangePerspective"
               id="alricgEditor.MagieAnsicht"
               label="Magie Ansicht"
               menubarPath="global.ansichten/">
         </action>
         <action
               class="org.d3s.alricg.editor.rcp.menuActions.ChangePerspective"
               id="alricgEditor.StandardAnsicht"
               label="Standard Ansicht"
               menubarPath="global.ansichten/">
         </action>
         <action
               class="org.d3s.alricg.editor.rcp.menuActions.AddView"
               id="alricgEditor.action.Dateien"
               label="Dateien"
               menubarPath="alricgEditor.Fenster/alricgEditor.FensterGM1">
         </action>
         <action
               class="org.d3s.alricg.editor.rcp.menuActions.AddView"
               id="alricgEditor.action.Navigation"
               label="Navigation"
               menubarPath="alricgEditor.Fenster/alricgEditor.FensterGM1">
         </action>
         
         
         <action
               class="org.d3s.alricg.editor.rcp.menuActions.AddView"
               id="alricgEditor.action.Region"
               label="Regionen/Völker"
               menubarPath="alricgEditor.Fenster/alricgEditor.Fenster.Herkunft/alricgEditor.Fenster.HerkunftGM">
         </action>
         <action
               class="org.d3s.alricg.editor.rcp.menuActions.AddView"
               id="alricgEditor.action.Profession"
               label="Professionen"
               menubarPath="alricgEditor.Fenster/alricgEditor.Fenster.Herkunft/alricgEditor.Fenster.HerkunftGM">
         </action>
          <action
                class="org.d3s.alricg.editor.rcp.menuActions.AddView"
                id="alricgEditor.action.Kultur"
                label="Kulturen"
                menubarPath="alricgEditor.Fenster/alricgEditor.Fenster.Herkunft/alricgEditor.Fenster.HerkunftGM">
         </action>
         <action
               class="org.d3s.alricg.editor.rcp.menuActions.AddView"
               id="alricgEditor.action.Rasse"
               label="Rassen"
               menubarPath="alricgEditor.Fenster/alricgEditor.Fenster.Herkunft/alricgEditor.Fenster.HerkunftGM">
         </action>


         <action
               class="org.d3s.alricg.editor.rcp.menuActions.AddView"
               id="alricgEditor.action.Goetter"
               label="Gottheiten"
               menubarPath="alricgEditor.Fenster/alricgEditor.Fenster.Magie/alricgEditor.Fenster.MagieGM">
         </action>
         <action
               class="org.d3s.alricg.editor.rcp.menuActions.AddView"
               id="alricgEditor.action.Merkmale"
               label="Merkmale"
               menubarPath="alricgEditor.Fenster/alricgEditor.Fenster.Magie/alricgEditor.Fenster.MagieGM">
         </action>
          <action
                class="org.d3s.alricg.editor.rcp.menuActions.AddView"
                id="alricgEditor.action.Repraesentation"
                label="Repräsentationen"
                menubarPath="alricgEditor.Fenster/alricgEditor.Fenster.Magie/alricgEditor.Fenster.MagieGM">
         </action>
         <action
               class="org.d3s.alricg.editor.rcp.menuActions.AddView"
               id="alricgEditor.action.SchamanenRituale"
               label="Schamanen Rituale"
               menubarPath="alricgEditor.Fenster/alricgEditor.Fenster.Magie/alricgEditor.Fenster.MagieGM">
         </action>
         <action
               class="org.d3s.alricg.editor.rcp.menuActions.AddView"
               id="alricgEditor.action.Liturgien"
               label="Liturgien"
               menubarPath="alricgEditor.Fenster/alricgEditor.Fenster.Magie/alricgEditor.Fenster.MagieGM">
         </action>
         <action
               class="org.d3s.alricg.editor.rcp.menuActions.AddView"
               id="alricgEditor.action.Zauber"
               label="Zauber"
               menubarPath="alricgEditor.Fenster/alricgEditor.Fenster.Magie/alricgEditor.Fenster.MagieGM">
         </action>
      
      
         <action
               class="org.d3s.alricg.editor.rcp.menuActions.AddView"
               id="alricgEditor.action.Gegenstand"
               label="Gegenstände"
               menubarPath="alricgEditor.Fenster/alricgEditor.Fenster.Allgemein/alricgEditor.Fenster.AllgemeinGM">
         </action>
         <action
               class="org.d3s.alricg.editor.rcp.menuActions.AddView"
               id="alricgEditor.action.Sprache"
               label="Sprache/Schrift"
               menubarPath="alricgEditor.Fenster/alricgEditor.Fenster.Allgemein/alricgEditor.Fenster.AllgemeinGM">
         </action>
         <action
               class="org.d3s.alricg.editor.rcp.menuActions.AddView"
               id="alricgEditor.action.Nachteile"
               label="Nachteile"
               menubarPath="alricgEditor.Fenster/alricgEditor.Fenster.Allgemein/alricgEditor.Fenster.AllgemeinGM">
         </action>
         <action
               class="org.d3s.alricg.editor.rcp.menuActions.AddView"
               id="alricgEditor.action.Vorteile"
               label="Vorteile"
               menubarPath="alricgEditor.Fenster/alricgEditor.Fenster.Allgemein/alricgEditor.Fenster.AllgemeinGM">
         </action>        
         <action
               class="org.d3s.alricg.editor.rcp.menuActions.AddView"
               id="alricgEditor.action.Sonderfertigkeiten"
               label="Sonderfertigkeiten"
               menubarPath="alricgEditor.Fenster/alricgEditor.Fenster.Allgemein/alricgEditor.Fenster.AllgemeinGM">">
         </action>
         <action
               class="org.d3s.alricg.editor.rcp.menuActions.AddView"
               id="alricgEditor.action.Talente"
               label="Talente"
               menubarPath="alricgEditor.Fenster/alricgEditor.Fenster.Allgemein/alricgEditor.Fenster.AllgemeinGM">
         </action>
		 <action
         class="org.d3s.alricg.editor.rcp.menuActions.AddView"
         id="alricgEditor.action.Eigenschaften"
         label="Eigenschaften"
         menubarPath="alricgEditor.Fenster/alricgEditor.Fenster.Allgemein/alricgEditor.Fenster.AllgemeinGM">
         </action>
      </actionSet>
   </extension>

</plugin>
